.odd
	display: block
	font-weight: bold
	text-align: center
	font-size: 12px
	background: $odd-bg-color
	color: $odd-text-color
	position: relative
	border: 1px solid #000
	
	&__legend
		display: block
		font-size: 10px
		+text-overflow
		
	&__coef
		display: block
		line-height: 20px
		background: $odd-coef-bg-color
		color: $odd-coef-text-color
		.is-checked &
			background: $selected-color
			border-top-color: $selected-color