.odd
	display: block
	font-weight: bold
	text-align: center
	font-size: 12px
	background: $odd-bg-color
	color: $odd-text-color
	position: relative
	
	&__legend
		display: block
		font-size: 10px
		border: 1px solid #000
		border-bottom: none
		+text-overflow
		position: relative
		
	&__coef
		display: block
		line-height: 20px
		background: $odd-coef-bg-color
		color: $odd-coef-text-color
		border: 1px solid #000
		border-top: none
		position: relative
		.is-checked &
			background: $selected-color 